/* STYLE SECTIONING TAGS */
body, html {
    margin-left: 10% ;
    margin-right: 10%;
    padding: 0;
    margin : 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;


    background-color: #ffffff; 
    font-family: Helvetica, Arial, sans-serif;
   }
   
   /* STYLE TEXT */
   
   h1 {
     color: rgb(12, 12, 12);
   }
   .content{
    margin-left: 10% ;
    margin-right: 10%;
    text-align: justify;
   }

   h2 {
    color: rgb(12, 12, 12);
    justify-content: center;
   }
   
   .me {
     font-size : 30px;
     text-align: justify;
     color: rgb(12, 12, 12)
   }

   p {
    color:#5c5558;
   }

   li {
    color:#5c5558
   }
   
   
   /* BANNER */

   .specialbanner {
    width:100%;
    overflow:hidden;
    justify-self: center;
    align-items: center;
    display: flex;
   }
   .specialBannerimage {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    object-fit: cover;
   }

    .banner {
    width:100%;
    overflow:hidden;
   }
   .Bannerimage {
    width: auto;
    height: auto;
    display: block;
    object-fit: cover;
    overflow: hidden;
   }

   .header {
    margin-left: 10%;
   }

   
   /* HOME */
   
   .tile-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
  }
  
  .tile {
    max-width: 300px;
    width: 100%;
  }
  
  .tile-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  }
  
  .home-image {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .companyPhoto {
    display: block;
    width: 300px;
    height: 125px;
    margin: 0 auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .tile-inner:hover .overlay {
    opacity: 1;
  }
   
   /*Menu stuff*/
   
   .side-bar {
     position: fixed;
     top: 0;
     right: -300px;
     width: 300px;
     height: 100vh;
     background-color: hsl(342, 100%, 81%);
     transition: right 0.3s ease-in-out;
     z-index: 999;
   }
   
   .menu-button{
     background-color : #ffe5f6;
     border : none;
     width : 50px;
     height : 50px;
     top : 30px;
     right : 30px;
     display : flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: background-color 0.3s;
     z-index: 1000;
     padding : 0;
   }
   
   .menu-button:hover{
     background-color : #ff80c1
   }
   
   .menu-icon{
     display : block;
     width : 25px;
     height : 3px;
     background-color: #000000; 
     position : relative;
     
   }
   
   .menu-icon::before,
   .menu-icon::after{
     content:'';
     justify-content: center;
     position:absolute;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-color: #000000;
     transition: transform 0.3s;
   }
   .menu-icon::before {
     top : -8px;
   }
   
   .menu-icon::after {
     bottom : -8px;
   }
   
   .menu-open .menu-icon {
     background-color: transparent;
   }
   
   .menu-open .menu-icon::before {
     top: 0;
     transform: rotate(45deg);
   }
   
   .menu-open .menu-icon::after {
     bottom: 0;
     transform: rotate(-45deg);
   }
   
   .side-bar.open {
     right: 0; 
   }
   
   .side-bar nav ul {
     list-style-type: none;
     padding: 0;
     margin-top: 100px;
   }
   
   .side-bar nav ul li {
     padding: 15px 30px;
   }
   
   .side-bar nav ul li a {
     color: #3a001e;
     text-decoration: none;
     font-size: 18px;
   }
   
   .side-bar nav ul li a:hover {
     color: #ff56c1;
   }
   
  .home-images{
    display: block;
    width:300px;
    height:300px;
    object-fit: cover;
  }

  .link-images{
    display: block;
    width:75px;
    height:75px;
    object-fit: cover;
  }
   

.contentcontainer {
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 2rem;
  }
@media screen and (max-width: 500px) {
  .contentcontainer {
    flex-direction: column;
    gap: 1rem;
    padding-left: 1%;
    padding-right: 1%;
  }
  .contentcontainer iframe{
    height: 2500px;
  }
}

.contentcontainer iframe{
  width: 100%;
  max-width: 600px;
  height: 2200px;
  box-sizing: border-box;
}

.verticalcontentcontainer {
    /* display: flex; */
    text-decoration: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 250px;
    align-items: center;
    background-color: #fff1fa;
    border: 1.5px solid #ffd1ed;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    transition: box-shadow 0.3s ease;
  }

.verticalcontentcontainer:hover {
  box-shadow: 0 4px 10px rgba(160,160,160,0.8);
}

.widthboxes {
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background-color: white;
  border: 2px solid #febfe6;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;

}

.classybuttons{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  min-height: 150px;
  align-items: left;
  background-color: #ffffff;
  border: 3px solid #ffe2f3;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  transition: border 0.3s ease;
  transition: box-shadow 0.3s ease;

}

.classybuttons:hover{
  border:3px solid #ff6ba8;
  box-shadow: 0 4px 10px rgba(160,160,160,0.8);
}

.verticalgroup{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 2000px;
  align-items: stretch;
  border: 1.5px solid #ffd1ed;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  transition: box-shadow 0.3s ease;
}

.horizantalgroup{
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:left;
  align-items: flex-start;
  padding: 2%;
  gap: 2rem;
  box-sizing: border-box;
}

.horizantalgroup >*{
  flex: 1 1 200px;
  min-width: 0;
  box-sizing: border-box;
}

.centertext{
  text-align: center;
}

.centertext iframe{
  width: 100%;
  max-width: 600px;
  height: 500px;
}

.pinktitle{
  color:#ff4190;
  text-align: left;
}
  

  .writetext {
    flex: 1 1 300px;
    text-align: left;
    margin: 2%;
  }
  
  .UpcommingPhoto {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .form-container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10%;
    width: 75%;
  }
  

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 8px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #ffacde;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #ff4bcc;
  }

  .writebutton {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffe8f3;
    color: rgb(255, 47, 123);
    text-align: center;
    text-decoration: none;
    border: 2px solid #ffacde;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .writebutton:hover {
    background-color: #ff4b99;
  }

  .headerbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  gap: 1rem;
}

.headerbar h1 {
  margin: 0;
}

@media screen and (max-width:1400px) {
  .small {
    display: none;
  }
}


.links {
  display: flex;
  gap: 1rem;
  padding: 1rem 0; 
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.links a {
  flex-grow: 1;
  text-align: center;
  color: #ff4bcc;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 0; 
  transition: color 0.3s ease;
}

a:link {
  color: #ff28a6;
  text-decoration: none;
}

a:link, a:visited, a:active {
  color: #ff3aa3;
}

a:link, a:hover {
  color:#a70845;
}